.itemlist {
  border: 2px solid #FFC312;
  padding: 10px;
  background-color: rgb(50, 60, 72);
  border-radius: 10px;
  color: whitesmoke;
}

.divRGB {
  border: 2px solid #ffFFC312;
  border-radius: 10px;
  width: 80px;
  height:80px;
  margin: auto;
}

