<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div style="margin:0px;">

        <div class="social_icon" style="position: relative; margin-left: 30px;">
          <span><fa-icon [icon]="faPowerOff" (click)="logout()"></fa-icon></span>
        </div>
      </div>
      <div class="card-body">
        <div>
          <p>
          <span><label>Pos: </label> {{entities}}</span>
          <span><label>{{txtWorkcenter}}: </label> {{entitiesParent}}</span>
          <span><label>{{txtWorker}}: </label> {{userName}}</span>
        </p>
        </div>
        <div>
          <h3>
            <table class="tableResult">
              <tr>
                <th>{{txtQty}}</th>
                <th>{{txtResult}}</th>
              </tr>
              <tr>
                <td>{{scannedQty}}</td>
                <td>{{scannedPT}}</td>
              </tr>
            </table>
          </h3>
          <div [ngSwitch]="alertType" style='position: absolute; margin-top: 10px;  left: 10px;
          right: 10px;
          margin-left: auto;
          margin-right: auto;  z-index: 999; font-size: 18px;'>
              <div *ngSwitchCase=1 class="alert alert-success" role="alert" style="margin: 0;">
              {{alertMessage}}
            </div>
            <div *ngSwitchCase=2 class="alert alert-danger" role="alert" style="margin: 0;">
              {{alertMessage}}
            </div>
            <div *ngSwitchCase=3 class="alert alert-info" role="alert" style="margin: 0;">
              {{alertMessage}}
            </div>
          </div>
          <div>
            <input #scanInput type='text' autofocus  style='opacity: 0; height: 1px;' [(ngModel)]="scanner" (change)="scannerChange()" (blur)="focusOnScanner()">
            <!-- <app-demo (barCodeResult)='barcodeEvent($event)' style="z-index: -1;"></app-demo> -->
          </div>
        </div>
      </div>
        <button style="margin:2px; z-index: 99;" [ngClass]="itemButtonClass"  (click)="activeItem()" >{{txtItems}}</button>
        <button style="margin:2px; z-index: 99;" [ngClass]="locksButtonClass"  (click)="activeLocks()">{{txtBlocks}}</button>
        <button [hidden]="!isStaticLocation" style="margin:2px; z-index: 99;" [ngClass]="staticLocationButtonClass">{{txtLocation}}</button>
      </div>
    <app-itemsblock [hidden]="!isSpecialItem" (closeEmiter)="closeSpecialItemWindow($event)" style='position: absolute; margin-top: 10px;' [childBLock]="itemsResult"></app-itemsblock>
  </div>
</div>
