<div class="container">
  <div>
    <img src="../assets/logo.png" width="280" height="65" class="Logo">
  </div>
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header" >
        <h4>{{block_header}}</h4>
      </div>
      <div class="card-body">
        <div class='blocklist'>
            <div>
              <p><span><h4>{{childBLock[childBLockElement-1].message}}</h4></span><br>
                <span>Pos: {{childBLock[childBLockElement-1].pos}}</span><br>
                <span><b>{{childBLock[childBLockElement-1].item}}</b></span></p>
            </div>

            <div id="outer">
              <div class="inner"><button type="submit" name="left" [ngClass]="leftClass" (click)="goLeft()" ><fa-icon [icon]="faArrowAltCircleLeft"></fa-icon></button></div>
              {{childBLockElement}} / {{childBLock.length}}
              <div class="inner"><button type="submit" name="right" [ngClass]="rightClass" (click)="goRight()"><fa-icon [icon]="faArrowAltCircleRight"></fa-icon></button></div>
            </div>
        </div>
        <div [hidden]="isBlock2Check || isBlock2Check2">
        <div class="input-group form-group">
          <div [ngClass]="spanUserClass">
            <span class="input-group-text"><fa-icon [icon]="faUserLock"></fa-icon></span>
          </div>
            <input type="text" maxlength=4 class="form-control"  name='QualityNumber' disabled [(ngModel)]="qualityNumer" placeholder={{qualityWorkerNumber}}>
          </div>

      <div class="input-group form-group">
        <div [ngClass]="spanPinClass">
          <span class="input-group-text"><fa-icon [icon]="faKey"></fa-icon></span>
        </div>
          <input type="text" maxlength=4 class="form-control" id='password-3' name='QualityPIN' disabled [(ngModel)]="qualityPIN" placeholder='PIN' type="number" pattern="[0-9][0-9][0-9][0-9]" inputmode="numeric">
        </div>
      </div>
      </div>
      <button style="margin:2px; z-index: 79;" [ngClass]="btnClass" (click)="DeactivateWoLocks()" [hidden]="isBlock2Check">{{confirmButton}}</button>
      <button style="margin:2px; z-index: 79;" class='btn btn-warning' (click)="goToMainView()">{{backButton}}</button>
   </div>
  </div>
</div>
<div [ngSwitch]="alertType" style='position: absolute; margin-top: 10px;  left: 10px;
right: 10px;
margin-left: auto;
margin-right: auto;  z-index: 999; font-size: 18px;'>
    <div *ngSwitchCase=1 class="alert alert-success" role="alert" style="margin: 10px;">
    {{alertMessage}}
  </div>
  <div *ngSwitchCase=2 class="alert alert-danger" role="alert" style="margin: 10px;">
    {{alertMessage}}
  </div>
  <div *ngSwitchCase=3 class="alert alert-info" role="alert" style="margin: 10px;">
    {{alertMessage}}
  </div>
</div>

<input #scanInput type='text' autofocus  style='opacity: 0; height: 1px;' [(ngModel)]="scanner" (change)="scannerChange()" (blur)="focusOnScanner()">
