<div class="container">
  <div>
    <img src="../assets/logo.png" width="280" height="65" class="Logo">
  </div>
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header">
        <h3>Zaloguj się</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fas fa-camera-retro"></i></span>
        </div>
      </div>
      <div class="card-body">
        <div class="input-group form-group">
          <div [ngClass]="spanUserClass">
            <span class="input-group-text" autofocus><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" id='userInput' placeholder="Użytkownik" [(ngModel)]="userId"
            (blur)="saveU($event)" (focus)="getFocusedInputName('userInput')">
        </div>
        <div class="input-group form-group">
          <div [ngClass]="spanEntClass">
            <span class="input-group-text"><i class="fas fa-industry"></i></span>
          </div>
          <input type="text" class="form-control" id='entInput' placeholder="Obszar" [(ngModel)]="entityId"
            (blur)="saveE($event)" (focus)="getFocusedInputName('entInput')">
        </div>
      </div>
    </div>
  </div>
  <div [ngSwitch]="alertType">
    <div *ngSwitchCase=1 class="alert alert-success" role="alert" style="margin-top: 10px;">
      {{alertMessage}}
    </div>
    <div *ngSwitchCase=2 class="alert alert-danger" role="alert" style="margin-top: 10px;">
      {{alertMessage}}
    </div>
  </div>
  <div class="camera">
    <app-demo (barCodeResult)='barcodeEvent($event)' style="z-index: -1;"></app-demo>
  </div>
  <!-- <div id="intro" class='d-flex justify-content-end social_icon'>
    <div id="down_arrow">
      <span><i class="fas fa-camera"></i></span>
    </div>
  </div> -->

</div>
